In [ ]:
# HW_0308

In [ ]:
## MongoDB

In [3]:
import mysql.connector

In [7]:
#Take one of the previous SQL databases created by you
#In Python, write the code which extracts the tables from that DB

connection = mysql.connector.connect(user="root",
                                     password="",
                                     host="localhost",
                                     database="advanced_sql")
cursor = connection.cursor()
cursor.execute("SELECT * FROM employees")
results_employees = cursor.fetchall()

In [9]:
results_employees

[(1, 'John Doe', 35, Decimal('50000.00'), 'Sales'),
 (2, 'Jane Smith', 28, Decimal('42000.00'), 'HR'),
 (3, 'Mike Johnson', 42, Decimal('60000.00'), 'Finance'),
 (4, 'Emily Brown', 29, Decimal('48000.00'), 'IT'),
 (5, 'David Lee', 38, Decimal('55000.00'), 'Sales')]

In [59]:
import pandas as pa
import json

In [35]:
employees_df = pa.DataFrame(results_employees)

In [42]:
employees_df.columns =['employee_id', 'employee_name', 'age', 'salary', 'department']

In [43]:
employees_df

   employee_id employee_name  age    salary department
0            1      John Doe   35  50000.00      Sales
1            2    Jane Smith   28  42000.00         HR
2            3  Mike Johnson   42  60000.00    Finance
3            4   Emily Brown   29  48000.00         IT
4            5     David Lee   38  55000.00      Sales

In [44]:
data_empl = employees_df.to_dict()

In [45]:
data_empl

{'employee_id': {0: 1, 1: 2, 2: 3, 3: 4, 4: 5},
 'employee_name': {0: 'John Doe',
  1: 'Jane Smith',
  2: 'Mike Johnson',
  3: 'Emily Brown',
  4: 'David Lee'},
 'age': {0: 35, 1: 28, 2: 42, 3: 29, 4: 38},
 'salary': {0: Decimal('50000.00'),
  1: Decimal('42000.00'),
  2: Decimal('60000.00'),
  3: Decimal('48000.00'),
  4: Decimal('55000.00')},
 'department': {0: 'Sales', 1: 'HR', 2: 'Finance', 3: 'IT', 4: 'Sales'}}

In [10]:
cursor.execute("SELECT * FROM products")
results_products = cursor.fetchall()

In [11]:
results_products

[(201, 'Widget A', 'Electronics', Decimal('25.50')),
 (202, 'Gadget B', 'Electronics', Decimal('35.20')),
 (203, 'Tool C', 'Hardware', Decimal('15.80')),
 (204, 'Toy D', 'Toys', Decimal('10.99')),
 (205, 'Appliance E', 'Home', Decimal('75.60'))]

In [66]:
products_df = pa.DataFrame(results_products)
products_df.columns =['product_id', 'product_name', 'category', 'price']
data_prod = products_df.to_dict()

In [68]:
cursor.execute("SELECT * FROM customers")
results_customers = cursor.fetchall()
customers_df = pa.DataFrame(results_customers)
customers_df.columns =['customer_id', 'customer_name', 'age', 'city']
data_cust = customers_df.to_dict()

In [71]:
cursor.execute("SELECT * FROM orders")
results_orders = cursor.fetchall()
orders_df = pa.DataFrame(results_orders)
orders_df.columns =['order_id', 'customer_id', 'order_total']
data_orders = orders_df.to_dict()

In [73]:
cursor.execute("SELECT * FROM sales")
results_sales = cursor.fetchall()
sales_df = pa.DataFrame(results_sales)
sales_df.columns =['sale_id', 'product_id', 'sale_date', 'quantity', 'revenue']
data_sales = sales_df.to_dict()

In [53]:
#Load the data from these tables as the collections to MongoDB collections
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
uri = "mongodb+srv://znastja:45LCXFAw5ulMmRiN@cluster0.rvoim07.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [54]:
client

MongoClient(host=['ac-fvkosas-shard-00-01.rvoim07.mongodb.net:27017', 'ac-fvkosas-shard-00-00.rvoim07.mongodb.net:27017', 'ac-fvkosas-shard-00-02.rvoim07.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-8q8dlg-shard-0', tls=True, server_api=<pymongo.server_api.ServerApi object at 0x0000020E5FDAB880>)

In [55]:
db = client["Employees_products_customers"]

In [57]:
collection_empl = db["Employees"]

In [60]:
records_empl = json.loads(employees_df.T.to_json()).values()

In [65]:
db.Employees.insert_many(records_empl)

In [67]:
collection_prod = db["products"]
records_prod = json.loads(products_df.T.to_json()).values()
db.products.insert_many(records_prod)

In [69]:
collection_prod = db["customers"]
records_cust = json.loads(customers_df.T.to_json()).values()
db.customers.insert_many(records_cust)

In [72]:
collection_orders = db["orders"]
records_orders = json.loads(orders_df.T.to_json()).values()
db.orders.insert_many(records_orders)

In [74]:
collection_sales = db["sales"]
records_sales = json.loads(sales_df.T.to_json()).values()
db.sales.insert_many(records_sales)

In [83]:
# db.orders.create_index("id",unique=True)

In [79]:
#Insert 3 entries to these collections
new_entry1 = {"order_id":6,"customer_id":103, "order_total":14}
db.orders.insert_one(new_entry1)

In [80]:
new_entry2 = {"order_id":7,"customer_id":101, "order_total":108.7}
db.orders.insert_one(new_entry2)

In [81]:
new_entry3 = {"order_id":8,"customer_id":105, "order_total":85.0}
db.orders.insert_one(new_entry3)

In [85]:
# 3 selections based on different (MIXED - "one or another","one and another", etc.) filter
results1 = db.orders.find({"$or":[{"customer_id":101},{"customer_id":105}]})
for entry in results1:
    print(entry)

{'_id': ObjectId('64cb8d891bd4eb846af44a8d'), 'order_id': 1, 'customer_id': 101, 'order_total': 120.5}
{'_id': ObjectId('64cb8d891bd4eb846af44a90'), 'order_id': 4, 'customer_id': 101, 'order_total': 80.0}
{'_id': ObjectId('64cb8d891bd4eb846af44a91'), 'order_id': 5, 'customer_id': 105, 'order_total': 150.3}
{'_id': ObjectId('64cb91141bd4eb846af44a9a'), 'order_id': 7, 'customer_id': 101, 'order_total': 108.7}
{'_id': ObjectId('64cb91171bd4eb846af44a9b'), 'order_id': 8, 'customer_id': 105, 'order_total': 85.0}

In [87]:
results2 = db.customers.find({"age":{"$gt":25}})
for entry in results2:
    print(entry)

{'_id': ObjectId('64cb8cc91bd4eb846af44a89'), 'customer_id': 102, 'customer_name': 'Bob Smith', 'age': 30, 'city': 'Los Angeles'}
{'_id': ObjectId('64cb8cc91bd4eb846af44a8a'), 'customer_id': 103, 'customer_name': 'Eva Lee', 'age': 28, 'city': 'Chicago'}
{'_id': ObjectId('64cb8cc91bd4eb846af44a8b'), 'customer_id': 104, 'customer_name': 'Mike Brown', 'age': 35, 'city': 'Houston'}

In [88]:
results3 = db.sales.find({"revenue":{"$lt":100}})
for entry in results3:
    print(entry)

{'_id': ObjectId('64cb8e111bd4eb846af44a93'), 'sale_id': 302, 'product_id': 202, 'sale_date': 1688256000000, 'quantity': 2, 'revenue': 70.4}
{'_id': ObjectId('64cb8e111bd4eb846af44a94'), 'sale_id': 303, 'product_id': 201, 'sale_date': 1688342400000, 'quantity': 3, 'revenue': 76.5}
{'_id': ObjectId('64cb8e111bd4eb846af44a96'), 'sale_id': 305, 'product_id': 205, 'sale_date': 1688428800000, 'quantity': 1, 'revenue': 75.6}

In [91]:
# 3 update operations
filter_cond = {"customer_id":103}
update = {"$set":{"customer_name":"Eva Donnovan","age":29,"city":"New York"}}
db.customers.update_one(filter_cond,update)

In [94]:
filter_cond = {"department":{"$nin":[None,""]}}
update = {"$unset":{"department":""}}
db.employees.update_many(filter_cond,update)

In [95]:
filter_cond = {"sale_id":304}
update = {"$set":{"revenue":129.9}}
db.sales.update_one(filter_cond,update)

In [ ]:
## Redis

In [1]:
#Create Redis DB, with the data from SQL:
import redis
r = redis.StrictRedis(host='localhost', port=6379, db=0)

In [2]:
#INSERT INTO employees (employee_id, employee_name, age, salary, department)
#VALUES
 #   (1, 'John Doe', 35, 50000.00, 'Sales'),
  #  (2, 'Jane Smith', 28, 42000.00, 'HR'),
   # (3, 'Mike Johnson', 42, 60000.00, 'Finance'),
    #(4, 'Emily Brown', 29, 48000.00, 'IT'),
    #(5, 'David Lee', 38, 55000.00, 'Sales');
r.lpush("employees","John Doe")

ConnectionError: Error 10061 connecting to localhost:6379. No connection could be made because the target machine actively refused it.

In [4]:
r.lpush("employees","Jane Smith")

2

In [5]:
r.lpush("employees","Mike Johnson")

3

In [6]:
r.lpush("employees","Emily Brown")

4

In [7]:
r.lpush("employees","David Lee")

5

In [8]:
r.lrange("employees",0,-1)

[b'David Lee', b'Emily Brown', b'Mike Johnson', b'Jane Smith', b'John Doe']

In [ ]:
r.zadd("employees",{"John Doe":1,"Jane Smith":2,"Mike Johnson":3,"Emily Brown":4,"David Lee":5})

In [ ]:
r.zrange("employees",0,-1,withscores=True)