In [ ]:
# HW_2707

In [2]:
#**Task: Bank Transactions**
# table : bank_account

START TRANSACTION;
UPDATE bank_account SET balance1 = balance1 - deducted_amount WHERE account1_id = 123456789;
UPDATE bank_account SET balance2 = balance2 + deducted_amount WHERE account2_id = 987654321;
IF account1_id != LV1234567890 OR account2_id != LV0987654321 THEN
    ROLLBACK;
ELSE
    COMMIT;

SyntaxError: invalid syntax (3945212712.py, line 2)

In [ ]:
#**Task: Order Processing**
# table: product_inventory
START TRANSACTION;
DECLARE order_quantity;
DECLARE product_id = XXX;

UPDATE product_inventory SET product_stock = product_stock - order_quantity WHERE product_id = XXX;

IF order_quantity >= product_stock THEN
    ROLLBACK;
    PRINT "Order failed. Insufficient stock"
ELSE
    COMMIT;

In [ ]:
#**Task: Employee Salary Adjustment**
# tables: employees, salary_adjustments

START TRANSACTION;
DECLARE new_salary;
DECLARE employee_id=XXX;
DECLARE salary_adjustment;
DECLARE performance;

UPDATE emloyees SET new_salary = salary + salary_adjustment WHERE employee_id = XXX;

IF performance == 0 THEN
    ROLLBACK;
    UPDATE emloyees SET new_salary = salary WHERE employee_id = XXX;
ELSE
    COMMIT;

In [ ]:
#**Task: Flight Reservation**
#tables: flights, seats, passengers, reservations

START TRANSACTION;
DECLARE flight_id = XXX;
DECLARE passenger_id;
DECLARE selected_seat;

UPDATE seats SET seat_reserved = True WHERE flight_id = XXX AND seat_number = selected_seat;
UPDATE reservations SET seat_number AND passenger_id WHERE flight_id = XXX;
IF seat_reserved = False THEN
    ROLLBACK;
ELSE
    COMMIT;

In [ ]:
#**Task: Product Returns**
# tables: payments, orders, returns

DECLARE order_id = XX;
DECLARE return_id = XXX;
DECLARE refund;

START TRANSACTION;
UPDATE returns SET return_status = "Returned" WHERE return_id = XXX;
SELECT refund = payment FROM payments WHERE order_id = XX;
INSERT INTO return_log (return_id, order_id) VALUES (return_id, ordr_id);
    COMMIT;

In [ ]:
#**Task: Student Enrollment**
#tables: students_enrollment, fee_payment

START TRANSACTION;
DECLARE student_id = student_id_number;
DECLARE student_fee;
DECLARE course_limit = N;

UPDATE student_enrollment SET courses = list(new_courses) WHERE student_id = student_id_number;
UPDATE fee_payment SET balance2 = balance2 + deducted_amount WHERE student_id = student_id_number;
IF courses > N THEN
    ROLLBACK;
ELSE
    COMMIT;

In [ ]:
# Non SQL database
#In Python, design your own design of the database (using the files) and perform some practical examples with it.

In [27]:
import json

In [28]:
color1 = {"color": "black",
      "category": "hue",
      "type": "primary",
      "rgba": [255,255,255,1],
      "hex": "#000"
}
color2 = {"color": "white",
      "category": "value",
       "type": "primary",   
      "rgba": [0,0,0,1],
      "hex": "#FFF"
}
color3 = {"color": "red",
      "category": "hue",
      "type": "primary",
      "rgba": [255,0,0,1],
      "hex": "#FF0"
}
color4 = {"color": "blue",
      "category": "hue",
      "type": "primary",
      "rgba": [0,0,255,1],
      "hex": "#00F"
}
color5 = {"color": "yellow",
      "category": "hue",
      "type": "primary",
      "rgba": [255,255,0,1],
      "hex": "#FF0"
}
color6 = {"color": "green",
      "category": "hue",
      "type": "secondary",
      "rgba": [0,255,0,1],
      "hex": "#0F0"
}

colors = list()

colors.append(color1)
colors.append(color2)
colors.append(color3)
colors.append(color4)
colors.append(color5)
colors.append(color6)

In [29]:
with open("colors.json","w") as json_f:
    json.dump(colors,json_f)

In [30]:
with open("colors.json","r") as json_f:
    colors_data = json.load(json_f)

In [31]:
colors_data

[{'color': 'black',
  'category': 'hue',
  'type': 'primary',
  'rgba': [255, 255, 255, 1],
  'hex': '#000'},
 {'color': 'white',
  'category': 'value',
  'type': 'primary',
  'rgba': [0, 0, 0, 1],
  'hex': '#FFF'},
 {'color': 'red',
  'category': 'hue',
  'type': 'primary',
  'rgba': [255, 0, 0, 1],
  'hex': '#FF0'},
 {'color': 'blue',
  'category': 'hue',
  'type': 'primary',
  'rgba': [0, 0, 255, 1],
  'hex': '#00F'},
 {'color': 'yellow',
  'category': 'hue',
  'type': 'primary',
  'rgba': [255, 255, 0, 1],
  'hex': '#FF0'},
 {'color': 'green',
  'category': 'hue',
  'type': 'secondary',
  'rgba': [0, 255, 0, 1],
  'hex': '#0F0'}]

In [44]:
class ColorsDB:
    
    def __init__(self):
      with open("color.json","r") as json_f:
            self.colors_data = json.load(json_f)
            self.colors_data_init = self.colors_data.copy()
            
                
    def insert(self,color:str,category:str,type:str,rgba:list(),hex:str):
        color = {"color":color,"category":category,"type":type,"rgba":rgba,"hex":hex}
        self.colors_data.append(color)
        
    def commit(self):
        with open("colors.json","w") as json_f:
            json.dump(self.colors_data,json_f)

In [45]:
color_db = ColorsDB()

In [49]:
color_db.insert("violet","hue","secondary",[134,1,175,0],"#8601AF")

AttributeError: 'dict' object has no attribute 'append'